.l-footer-article {
    margin-top: 55px;
    margin-bottom: 60px;
    line-height: 150%;
}

.l-footer-article__middle {
    /*padding-left: 103px;*/
    /*padding-right: 80px;*/
}

.l-footer-article__title {
    font-family: Colaborate-Thin, sans-serif;
    font-size: 24px;
    color: #ffffff;
    text-shadow: #000000 1px 1px 2px;
}

.l-footer-article__content {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Droid Sans, sans-serif;
    font-size: 12px;
    color: #8d96a0;
}

.l-footer-article__content li:before {
    margin-right: 10px;
    font-size: 1.5em;
    content: '• ';
    color: #171c25;
    text-shadow: 1px 1px 2px #374048;
}

.l-footer-nav__list-item-left {
    margin: 0;
    padding: 0;
    list-style: none;
}

.l-footer-nav__list-item-left > li {
    display: inline-block;
    float: left;
    padding: 20px 20px 20px 0;
}

.l-footer-nav__list-item-right {
    margin: 0;
    padding: 0;
    list-style: none;
}

.l-footer-nav__list-item-right > li {
    display: inline-block;
    float: right;
    padding: 25px 0 20px 0;
}

.l-footer-nav__list-item-left a,
.l-footer-nav__list-item-right a {
    text-decoration: none;
    color: #ffffff;
    font-family: Droid Sans, sans-serif;
    font-size: 12px;
    text-shadow: #000000 1px 1px 2px;
    transition: all 0.05s ease-in-out;
}

.l-footer-nav__list-item-right li {
    font-family: Droid Sans, sans-serif;
    font-size: 13px;
    color: #8d96a0;
}

.l-footer-nav__list-item-left a:hover,
.l-footer-nav__list-item-right a:hover {
    font-style: italic;
    color: #8d96a0;
}

@media (max-width: 360px) {
    .l-footer-article {
        margin: 20px;
    }

    .l-footer-article__middle {
        padding: 0;
    }
}

@media (max-width: 994px) {
    .l-footer-article {
        margin-top: 20px;
    }
}

