html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    margin-bottom: 2px;
    box-shadow: inset 0 -15px 20px -10px rgba(0, 0, 0, 0.8);
    background-image: url("../images/backcround.png");
}

main {
    min-height: 500px;
    box-shadow: inset 0 10px 15px 0 rgba(0, 0, 0, 0.2);
    background-image: url("../images/main-background.png");
    background-repeat: repeat;
}

footer {
    box-shadow: inset 0 15px 15px -1px rgba(0, 0, 0, 0.3);
    background-image: -ms-radial-gradient(center top, ellipse farthest-corner, #2D353D 0%, #151A20 60%);
    background-image: -moz-radial-gradient(center top, ellipse farthest-corner, #2D353D 0%, #151A20 60%);
    background-image: -o-radial-gradient(center top, ellipse farthest-corner, #2D353D 0%, #151A20 60%);
    background-image: -webkit-gradient(radial, center top, 0, center top, 359, color-stop(0, #2D353D), color-stop(60, #151A20));
    background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #2D353D 0%, #151A20 60%);
    background-image: radial-gradient(ellipse farthest-corner at center top, #2D353D 0%, #151A20 60%);
}

.container {
    padding-left: 90px;
    padding-right: 90px;
}

.l-footer-nav {
    background: #0f141a;
}

.logo {
    margin-top: 70px;
    margin-bottom: 25px;
}

.l-dark-btn {
    float: right;
    margin: 20px 0;
    padding: 5px 10px;
    text-shadow: 1px 2px 2px #000000;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #000000;
    border-radius: 10px;
    color: #ffffff;
    background: #313942;
    background: linear-gradient(to bottom, #313942 0%, #1f262e 100%);
    font-family: Droid Sans, sans-serif;
    font-size: 12px;
}

button[type="submit"]:hover {
    cursor: pointer;
    text-decoration: underline;
}

.l-article-title {
    font-family: Colaborate-Thin, sans-serif;
    font-size: 24px;
    text-shadow: 1px 2px 2px #ffffff;
    color: #000000;
}

.l-page-nav {
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: Droid Sans, sans-serif;
    font-size: 12px;
    color: #a3a3a3;
}

.l-page-break {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #d2d2d2;
    height: 2px;
    width: 420px;
    border-bottom: 1px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 7px 15px 1px rgba(112, 112, 112, 0.3);
}

.l-page-paginate__info {
    display: inline-block;
    margin: 35px 25px 0 0;
    color: #838383;
    font-family: Colaborate-Thin, sans-serif;
    font-size: 18px;
}

.l-page-paginate {
    float: right;
    margin-bottom: 40px;
}

.l-page-pagination__link {
    padding: 7px 14px;
    margin: 0 4px 0 0;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #dadada;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 3px 3px 5px 2px rgba(255, 255, 255, 0.75);
}

.l-page-pagination__link:hover {
    color: #ffffff;
    border: 1px solid #2c2c2c;
    background: #323a43;
    background: linear-gradient(to bottom, #323a43 0%, #20272e 100%);
    box-shadow: none;
}

.l-aside {
    margin-left: 29px;
}

@media (max-width: 990px) {
    .l-aside {
        margin-left: 0;
    }
}

.l-aside-post,
.l-aside-event,
.l-aside-comment {
    margin-bottom: 40px;
}

.l-aside-post__title,
.l-aside-event__title,
.l-aside-comment__title {
    font-family: Colaborate-Thin, sans-serif;
    font-size: 24px;
    color: #1f262d;
}

.l-aside-post__content {
    height: 200px;
    border: 1px solid #dadada;
    border-radius: 10px;
    text-shadow: 0 1px 0 rgba(94, 94, 94, 0.3);
    box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 1);
    background: linear-gradient(to bottom, #ffffff 60%, #f7f7f7 100%);
    line-height: 180%;
    font-family: Droid Sans, sans-serif;
    font-size: 12px;
    color: #5e5e5e;
}

.l-aside-post__content div {
    padding: 20px;
    height: 170px;
    overflow: hidden;
}

.l-aside-event__content {
    height: 290px;
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 10px;
    overflow: hidden;
    text-shadow: 0 1px 0 rgba(94, 94, 94, 0.3);
    box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 1);
    background: linear-gradient(to bottom, #ffffff 60%, #f7f7f7 100%);
    line-height: 310%;
    font-family: Droid Sans, sans-serif;
    font-size: 12px;
    color: #5e5e5e;
}

.l-aside-comment__content {
    height: 290px;
    padding: 20px;
    padding-left: 40px;
    overflow: hidden;
    border: 1px solid #dadada;
    border-radius: 10px;
    text-shadow: 0 1px 0 rgba(94, 94, 94, 0.3);
    box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 1);
    background: linear-gradient(to bottom, #ffffff 60%, #f7f7f7 100%);
    line-height: 310%;
    font-family: Droid Sans, sans-serif;
    font-size: 12px;
    color: #5e5e5e;
}

.l-aside-comment__content li {
    height: 37px;
    overflow: hidden;
    text-overflow: clip;
}

.l-aside-comment__content li:before {
    content: '• ';
    color: #171c25;
}

.l-forms {
    margin-bottom: 30px;
}

.l-forms__label-text {
    text-transform: uppercase;
    font-size: 15px;
    font-family: Droid Sans, sans-serif;
    color: #838383;
}

.hidden {
    display: none;
}

@media (max-width: 360px) {
    .container {
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media (max-width: 800px) {
    .container {
        padding-right: 5px;
        padding-left: 5px;
    }
}