<div class="container">
	<div class="row">
		<div class="col-12">
			<p class="l-page-nav">Blog >> Carp fishing</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-sm-12">
			<article>
				<h4 class="l-post-title">My Balanced Bait Hook Aligner Rig</h4>
				<div class="l-page-break"></div>
				<h5 class="l-post-title-info">Posted by Admin on October 13,2017 in Carp Fishing | 30 Comments</h5>
				<div class="l-post">
					<div class="l-post-img">
						<img class="l-post-img__container"
							 src="http://scontent-b.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/10852775_1586468621571879_1594574673_n.jpg"
							 alt="post image">
					</div>
					<div class="l-post-content">
						To my mind consistent and effective presentation is broadly
						reliant upon two basic requirements being fulfilled by the angler.
						The first is making the right choice of the correct lead
						arrangement – as this directly impacts upon the way the terminal tackle lies on
						(or in) the lake bed and how it avoids tangling. The second consideration, that is
						just as vital, is related to how the rig lies out.
						Lead arrangements and when to use each one has been covered
					</div>
				</div>
				<div class="l-post-btn">
					<a class="l-dark-btn" href="#/blog/details">Read More</a>
				</div>
				<div class="l-clear-float"></div>
			</article>
			<article>
				<h4 class="l-post-title">My Balanced Bait Hook Aligner Rig</h4>
				<div class="l-page-break"></div>
				<h5 class="l-post-title-info">Posted by Admin on October 13,2017 in Carp Fishing | 30 Comments</h5>
				<div class="l-post">
					<div class="l-post-img">
						<img class="l-post-img__container"
							 src="http://scontent-b.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/10852775_1586468621571879_1594574673_n.jpg"
							 alt="post image">
					</div>
					<div class="l-post-content">
						To my mind consistent and effective presentation is broadly
						reliant upon two basic requirements being fulfilled by the angler.
						The first is making the right choice of the correct lead
						arrangement – as this directly impacts upon the way the terminal tackle lies on
						(or in) the lake bed and how it avoids tangling. The second consideration, that is
						just as vital, is related to how the rig lies out.
						Lead arrangements and when to use each one has been covered
					</div>
				</div>
				<div class="l-post-btn">
					<a class="l-dark-btn" href="#">Read More</a>
				</div>
				<div class="l-clear-float"></div>
			</article>
			<div class="l-page-break"></div>
			<div class="l-page-paginate">
				<p class="l-page-paginate__info">Page 2 of 4</p>
				<a class="l-page-pagination__link" href="#">1</a>
				<a class="l-page-pagination__link" href="#">2</a>
				<a class="l-page-pagination__link" href="#">3</a>
				<a class="l-page-pagination__link" href="#">4</a>
			</div>
		</div>
		<div class="col-lg-4 col-sm-12">
			<aside class="l-aside">
				<div class="l-aside-post">
					<h5 class="l-aside-post__title">Recent Posts</h5>
					<div class="l-aside-post__content">
						<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Aliquam architecto, at commodi debitis deleniti distinctio
							dolore dolores ea error exercitationem facilis fugiat
							nam nulla tempora temporibus
							vel voluptate voluptates voluptatum.
							vel voluptate voluptates voluptatum.
							vel voluptate voluptates voluptatum.nam nulla tempora temporibus
							nam nulla tempora temporibus
						</div>
					</div>
				</div>
				<div class="l-aside-event">
					<h5 class="l-aside-event__title">Recent Events</h5>
					<div class="l-aside-event__content">
						<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Aliquam architecto, at commodi debitis deleniti distinctio
							dolore dolores ea error exercitationem facilis fugiat
							nam nulla tempora temporibus
							vel voluptate voluptates voluptatum.
							vel voluptate voluptates voluptatum.
							vel voluptate voluptates voluptatum.nam nulla tempora temporibus
							nam nulla tempora temporibus
						</div>
					</div>
				</div>
			</aside>
			<!--<div class="l-create-article">-->
				<!--<a class="l-create-article__btn" href="#/blog/create"></a>-->
			<!--</div>-->
		</div>
	</div>
</div>