<div class="l-carousel-container">
	<div class="l-carousel">
		<div class="l-carousel-image__active"><img src="https://scontent.fsof3-1.fna.fbcdn.net/v/t31.0-8/14524974_570384943149910_5542044140237799851_o.jpg?oh=2354c595a0199865fe76c829f866f59f&oe=5A7F83AA" class="l-carousel-image__center">
			<div class="l-carousel-image__active__overlay"></div>
			<div class="l-carousel-arrow l-carousel-arrow__left fa fa-chevron-left"></div>
			<div class="l-carousel-icon__container">
				<div class="l-carousel-icon l-carousel-icon__media"></div>
				<a class="l-carousel-icon l-carousel-icon__open fi-plus"></a>
			</div>
			<div class="l-carousel-title__overlay">
				<p class="l-carousel-title">Title img</p>
			</div>
			<div class="l-carousel-arrow l-carousel-arrow__right fa fa-chevron-right"></div>
		</div>
		<div class="l-carousel-image__container">
			<div class="l-carousel-image"><img src="https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/20637981_724121314442938_954532810034936204_n.jpg?oh=46f1a2debff204c628ce3cb270d77608&oe=5A736311"></div>
			<div class="l-carousel-image"><img src="https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/20708483_724120797776323_3784362511602543136_n.jpg?oh=553293ea5d143d442ec2d380a3ad5f67&oe=5A7E1BBA"></div>
			<div class="l-carousel-image"><img src="https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/20638781_724120517776351_6329101590841166483_n.jpg?oh=e598bb85d3d9508816b31e5f8a32fadc&oe=5A40C314"></div>
			<div class="l-carousel-image"><img src="https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/20621195_724120684443001_1514048471662854690_n.jpg?oh=f8490cdb639a95c291e5e6f72cb7b0ff&oe=5A3F49F0"></div>
			<div class="l-carousel-image"><img src="https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/20663858_724121554442914_601871715970521134_n.jpg?oh=17c23fe8d0de781b8c1c8f3c7583d5b5&oe=5A48ACFD"></div>
		</div>
	</div>
</div>