<div class="container">
	<div class="row">
		<div class="col-12">
			<p class="l-page-nav">Gallery >> Gallery categories</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<label class="upload-group">
				add image
				<input type="file" id="file" class="upload-group">
			</label>
			<button type="button" id="upload-button">Add</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-15 col-xs-3">
			<div class="l-gallery">
				<div class="l-gallery-container">
					<img class="l-gallery-container__img"
						 src="https://media-cdn.tripadvisor.com/media/photo-o/08/70/4f/fd/salty-dog-fishing-charters.jpg"
						 alt="">
				</div>
			</div>
		</div>
		<div class="col-md-15 col-xs-3">
			<div class="l-gallery">
				<div class="l-gallery-container">
					<img class="l-gallery-container__img"
						 src="https://media-cdn.tripadvisor.com/media/photo-o/08/70/4f/fd/salty-dog-fishing-charters.jpg"
						 alt="">
				</div>
			</div>
		</div>
		<div class="col-md-15 col-xs-3">
			<div class="l-gallery">
				<div class="l-gallery-container">
					<img class="l-gallery-container__img"
						 src="https://media-cdn.tripadvisor.com/media/photo-o/08/70/4f/fd/salty-dog-fishing-charters.jpg"
						 alt="">
				</div>
			</div>
		</div>
		<div class="col-md-15 col-xs-3">
			<div class="l-gallery">
				<div class="l-gallery-container">
					<img class="l-gallery-container__img"
						 src="https://media-cdn.tripadvisor.com/media/photo-o/08/70/4f/fd/salty-dog-fishing-charters.jpg"
						 alt="">
				</div>
			</div>
		</div>
		<div class="col-md-15 col-xs-3">
			<div class="l-gallery l-gallery-last">
				<div class="l-gallery-container">
					<img class="l-gallery-container__img"
						 src="https://media-cdn.tripadvisor.com/media/photo-o/08/70/4f/fd/salty-dog-fishing-charters.jpg"
						 alt="">
				</div>
			</div>
		</div>
		<div class="col-md-15 col-xs-3">
			<div class="l-gallery l-gallery-last">
				<div class="l-gallery-container">
					<img class="l-gallery-container__img"
						 src="https://media-cdn.tripadvisor.com/media/photo-o/08/70/4f/fd/salty-dog-fishing-charters.jpg"
						 alt="">
				</div>
			</div>
		</div>
		<div class="col-md-15 col-xs-3">
			<div class="l-gallery l-gallery-last">
				<div class="l-gallery-container">
					<img class="l-gallery-container__img"
						 src="https://media-cdn.tripadvisor.com/media/photo-o/08/70/4f/fd/salty-dog-fishing-charters.jpg"
						 alt="">
				</div>
			</div>
		</div>
		<div class="col-md-15 col-xs-3">
			<div class="l-gallery l-gallery-last">
				<div class="l-gallery-container">
					<img class="l-gallery-container__img"
						 src="https://media-cdn.tripadvisor.com/media/photo-o/08/70/4f/fd/salty-dog-fishing-charters.jpg"
						 alt="">
				</div>
			</div>
		</div>
		<div class="col-md-15 col-xs-3">
			<div class="l-gallery l-gallery-last">
				<div class="l-gallery-container">
					<img class="l-gallery-container__img" src="#" alt="">
				</div>
			</div>
		</div>
	</div>
</div>