<div class="container">
	<div class="row">
		<div class="col-lg-4 col-md-6 col-sm-12">
			<article class="l-home-card">
				<div data-group="1" class="l-home-card__icon"></div>
				<h5 class="l-home-card__title">Carp Fishing</h5>
				<p class="l-home-card__content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Accusamus aliquid aperiam architecto consequuntur cupiditate,
					deleniti eaque eligendi exercitationem fuga ipsam
					itaque laborum magni maxime minima necessitatibus neque nesciunt
					nulla odit perferendis porro quaerat quibusdam rem temporibus,
					totam ullam, ut vel? Aspernatur aut est minus nihil.
					Aperiam dolorem minima nisi similique.
				</p>
				<a class="l-home-card__button" href="#">Read More</a>
			</article>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-12">
			<article class="l-home-card">
				<div data-group="2" class="l-home-card__icon"></div>
				<h5 class="l-home-card__title">About Us</h5>
				<p class="l-home-card__content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Accusamus aliquid aperiam architecto consequuntur cupiditate,
					deleniti eaque eligendi exercitationem fuga ipsam
					itaque laborum magni maxime minima necessitatibus neque nesciunt
					nulla odit perferendis porro quaerat quibusdam rem temporibus,
					totam ullam, ut vel? Aspernatur aut est minus nihil.
					Aperiam dolorem minima nisi similique.
				</p>
				<a class="l-home-card__button" href="#">Read More</a>
			</article>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-12">
			<article class="l-home-card">
				<div data-group="3" class="l-home-card__icon"></div>
				<h5 class="l-home-card__title">Where To Fish</h5>
				<p class="l-home-card__content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Accusamus aliquid aperiam architecto consequuntur cupiditate,
					deleniti eaque eligendi exercitationem fuga ipsam
					itaque laborum magni maxime minima necessitatibus neque nesciunt
					nulla odit perferendis porro quaerat quibusdam rem temporibus,
					totam ullam, ut vel? Aspernatur aut est minus nihil.
					Aperiam dolorem minima nisi similique.
				</p>
				<a class="l-home-card__button" href="#">Read More</a>
			</article>
		</div>
	</div>
</div>
<div class="l-home-quote">
	<div class="l-home-quote__icon">&ldquo;</div>
	<h5 class="l-home-quote__content">Get in touch with our members and be up to date with the
		innovations and secrets of fishing in either type of water!
		A source of angling information!</h5>
	<a href="#" class="l-home-quote__btn">Additional Info</a>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-15 col-xs-3">
			<div class="l-gallery">
				<div class="l-gallery-container">
					<img class="l-gallery-container__img" src="https://media-cdn.tripadvisor.com/media/photo-o/08/70/4f/fd/salty-dog-fishing-charters.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="col-md-15 col-xs-3">
			<div class="l-gallery">
				<div class="l-gallery-container">
					<img class="l-gallery-container__img" src="https://media-cdn.tripadvisor.com/media/photo-o/08/70/4f/fd/salty-dog-fishing-charters.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="col-md-15 col-xs-3">
			<div class="l-gallery">
				<div class="l-gallery-container">
					<img class="l-gallery-container__img" src="https://media-cdn.tripadvisor.com/media/photo-o/08/70/4f/fd/salty-dog-fishing-charters.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="col-md-15 col-xs-3">
			<div class="l-gallery">
				<div class="l-gallery-container">
					<img class="l-gallery-container__img" src="https://media-cdn.tripadvisor.com/media/photo-o/08/70/4f/fd/salty-dog-fishing-charters.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="col-md-15 col-xs-3">
			<div class="l-gallery l-gallery-last">
				<div class="l-gallery-container">
					<img class="l-gallery-container__img" src="https://media-cdn.tripadvisor.com/media/photo-o/08/70/4f/fd/salty-dog-fishing-charters.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="col-md-15 col-xs-3">
			<div class="l-gallery l-gallery-last">
				<div class="l-gallery-container">
					<img class="l-gallery-container__img" src="https://media-cdn.tripadvisor.com/media/photo-o/08/70/4f/fd/salty-dog-fishing-charters.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="col-md-15 col-xs-3">
			<div class="l-gallery l-gallery-last">
				<div class="l-gallery-container">
					<img class="l-gallery-container__img" src="https://media-cdn.tripadvisor.com/media/photo-o/08/70/4f/fd/salty-dog-fishing-charters.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="col-md-15 col-xs-3">
			<div class="l-gallery l-gallery-last">
				<div class="l-gallery-container">
					<img class="l-gallery-container__img" src="https://media-cdn.tripadvisor.com/media/photo-o/08/70/4f/fd/salty-dog-fishing-charters.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="col-md-15 col-xs-3">
			<div class="l-gallery l-gallery-last">
				<div class="l-gallery-container">
					<img class="l-gallery-container__img" src="#" alt="">
				</div>
			</div>
		</div>
	</div>
</div>